@use "reset" as *;

@use "themes/normal" as *;

@use "themes/dark" as *;

html {
	font-size: 16px;

	--main-font: "Inter", "Helvetica Neue", "Arial";
}

body {
}

.app {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
}

.content-page {
	position: relative;
	width: 100%;
	height: 100%;
}

*::-webkit-scrollbar {
	width: 0.375rem;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0.375rem;
	background-color: rgb(0 0 0 / 0%);
	box-shadow: 0 0 1px hsl(0deg 0% 100% / 1%);
}
