@use "reset" as *;

html {
	font-size: 16px;

	--main-font: "Inter", "Helvetica Neue", "Arial";
}

body {
}

.app {
	position: relative;
	height: 100vh;
	background-color: #353535;
	color: #fff;
}

.content-page {
	height: 100%;
	box-sizing: border-box;
	padding-block: 16px 0;
	padding-inline: 16px;
}

*::-webkit-scrollbar {
	width: 0.375rem;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0.375rem;
	background-color: rgb(0 0 0 / 0%);
	box-shadow: 0 0 1px hsl(0deg 0% 100% / 1%);
}
