.Panel {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  max-height: 80vh;
  flex-direction: column;
  padding: 1.5rem 0;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
  background-color: var(--select-bg-color);
  box-shadow: 0 8px 20px rgb(0 0 0 / 12%);
  color: var(--text-color);
  overflow-y: auto;
}