.MobileSheet {
  z-index: 150;
  display: flex;
  max-width: 100%;
  max-height: calc(100vh - 25rem);
}

.MobileWrapper {
  width: 100%;
  overflow-y: auto;
}

.OpenButton {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.CloseButton {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: var(--accent-color);
  cursor: pointer;
}
