.mapgl-geolocate-control {
	display: flex;
	overflow: hidden;
	width: 32px;
	flex-direction: column;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgb(38 38 38 / 50%);
}

.mapgl-geolocate-button {
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	padding: 0;
	border: none;
	background: #fff;
	color: #262626;
	cursor: pointer;
	outline: 0;
}

.mapgl-geolocate-button:hover {
	opacity: 70%;
}

.mapgl-geolocate-button:active {
	color: #028eff;
}

.mapgl-geolocate-status {
	padding: 2px 4px;
	color: #666;
	font-size: 10px;
	text-align: center;
}

.mapgl-reset-button {
	z-index: 1000;
	padding: 4px 10px;
	border: none;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgb(38 38 38 / 50%);
	color: #000;
	cursor: pointer;
	font-size: 12px;
}
