.RouteList {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.75rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}
