.page {
  overflow: hidden;
  height: 100dvh;
  padding: 20px 0;
  overscroll-behavior: contain;
}

.header {
  width: 100%;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-height: calc(100dvh - 280px);
  padding: 0 20px;
  overflow-y: auto;
  overscroll-behavior: contain;
}