.page {
  overflow: hidden;
  height: 100vh;
  padding: 20px 0;
}

.header {
  width: 100%;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-height: calc(100vh - 280px);
  padding: 0 20px;
  overflow-y: auto;
  overscroll-behavior: contain;
}