.CourtList {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}