.Card {
	display: flex;
	padding: 0.75rem;
	border-radius: 0.5rem;
	gap: 0.75rem;
	transition: background-color 0.2s;

	&:hover {
		//background-color: var(--accent-alpha-50);
		cursor: pointer;
	}
}
