.Card {
  display: flex;
  padding: 0.75rem;
  border-radius: 8px;
  gap: 12px;
  transition: background-color 0.2s;

  &:hover {
    //background-color: var(--accent-alpha-50);
    cursor: pointer;
  }
}