.main-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatar {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.filter {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  min-width: 90px;
  height: 50px;
  align-items: center;
}