.main-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatar {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--background-color)
}