.spinnerContainer {
	display: flex;
	width: 100%;
	height: 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	background-color: var(--background-secondary-color);
	padding-inline: 12px;
}
